:root {
    --icon-search: url(https://raw.githubusercontent.com/Eluvies/themes/refs/heads/main/myanimelist/eluvies/icons/search.svg);
    --icon-chevron-down: url(https://raw.githubusercontent.com/Eluvies/themes/refs/heads/main/myanimelist/eluvies/icons/chevron-down.svg);
    --icon-mal: url(../icons/mal.svg);
}

body.ownlist .header .header-title {
  background-color: white;
  mask: var(--icon-mal) no-repeat;
}

@font-face {
  font-family: "Eluvies";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src:  url(../fonts/eluvies.ttf);
}
