body.ownlist #list-container #status-menu {  
  .status-menu {
      #search-button {
        --si: url(https://raw.githubusercontent.com/Eluvies/themes/refs/heads/main/myanimelist/eluvies/icons/mal-favicon.svg);
        background-image: var(--si) center / contain no-repeat;
        width: 1rem;
        height: 1rem;
          
        .fa-solid {
          display: none;
        }
      }
    }
}