:root {
    --icon-search: url(https://eluvies.github.io/themes/myanimelist/eluvies/icons/search.svg);
    --icon-chevron-down: url(https://eluvies.github.io/themes/myanimelist/eluvies/icons/chevron-down.svg);
    --icon-mal: url(https://eluvies.github.io/themes/myanimelist/eluvies/icons/mal.svg);
    --icon-star: url(https://eluvies.github.io/themes/myanimelist/eluvies/icons/star.svg);
    --icons: url(https://eluvies.github.io/themes/myanimelist/eluvies/icons/icons.svg)
}