:root {
    --icon-search: url(https://eluvies.github.io/themes/myanimelist/eluvies/icons/search.svg);
    --icon-chevron-down: url(https://eluvies.github.io/themes/myanimelist/eluvies/icons/chevron-down.svg);
    --icon-mal: url(https://eluvies.github.io/themes/myanimelist/eluvies/icons/mal.svg);
    --icon-star: url(https://eluvies.github.io/themes/myanimelist/eluvies/icons/star.svg);
    --icon-stats: url(https://eluvies.github.io/themes/myanimelist/eluvies/icons/stats.svg);
    --icon-filter: url(https://eluvies.github.io/themes/myanimelist/eluvies/icons/filter.svg);

    --icon-search: url(https://eluvies.github.io/themes/myanimelist/eluvies/icons/icons.svg#search);
    --icon-chevron-down: url(https://eluvies.github.io/themes/myanimelist/eluvies/icons/icons.svg#chevron-down);
    --icon-mal: url(https://eluvies.github.io/themes/myanimelist/eluvies/icons/icons.svg#mal);
    --icon-star: url(https://eluvies.github.io/themes/myanimelist/eluvies/icons/icons.svg#star);
    --icon-stats: url(https://eluvies.github.io/themes/myanimelist/eluvies/icons/icons.svg#stats);
    --icon-filter: url(https://eluvies.github.io/themes/myanimelist/eluvies/icons/icons.svg#filter);
}