:root {
    --icon-search: url(https://eluvies.github.io/themes/myanimelist/eluvies/icons/search.svg);
    --icon-chevron-down: url(https://raw.githubusercontent.com/Eluvies/themes/refs/heads/main/myanimelist/eluvies/icons/icons/chevron-down.svg);
    --icon-mal: url(https://raw.githubusercontent.com/Eluvies/themes/refs/heads/main/myanimelist/eluvies/icons/icons/mal.svg);
}