@font-face {
  font-family: "Eluvies";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src:  url("https://raw.githubusercontent.com/Eluvies/themes/raw/refs/heads/main/myanimelist/fonts/eluvies.ttf");
}
