@font-face {
  font-family: "Eluvies";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src:  url("https://raw.githubusercontent.com/Eluvies/MAL-Designs/refs/heads/main/Eluvies%20theme/Fonts/eluvies.ttf");
}
